* {
    font-family: Verdana;
    font-size: 12px;
    color: black;
}

body {
    margin: 0;
}

#hauptcontainer {
    position: absolute;
    width: 100%;
    height: 100%;
}

#oben {
    background-color: blue;
    width: 100%;
    height: 20%;
}

#links {
    background-color: yellow;
    width: 20%;
    height: 80%;
}

#rechts {
    width: 80%;
    height: 80%;
}

.gesamt {
    float: left;
    border: 2px solid black;
    box-sizing: border-box;
    padding: 10px;
}